.cities__weather {
  display: flex;
  flex-direction: column;
  margin-right: 44px;
}

.cities__weather-heading {
  color: #f2f5f9;
  font-family: Outfit;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-bottom: 20px;
}

.cities__weather-box {
  width: 340px;
  height: 118px;
  padding: 20px;
  border-radius: 16px;
  background-color: #20293a;
  margin-bottom: 24px;
}
