.fiveday__forecast {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.fiveday__forecast-heading {
  color: #f2f5f9;
  font-family: Outfit;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-bottom: 20px;
}

.fiveday__forecast-box {
  height: 60px;
  width: 100%;
  border-radius: 16px;
  background-color: #20293a;
  padding: 12px 16px;
  margin-bottom: 12px;
}
