.search {
  position: relative;
}

.search__input {
  background-color: #20293a;
  height: 44px;
  width: 240px;
  padding: 8px 118px 8px 44px;
  border-radius: 500px;
  color: #f2f5f9;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 200%; /* 28px */
}

.search__input::placeholder {
  /* style placeholder text*/
  color: rgb(190, 191, 192);
}

.search__submit {
  position: absolute;
  top: 0.7rem;
  left: 8px;
  background-color: #20293a;
}

.search__icon {
  width: 24px;
  height: 24px;
}

.dropdown {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background: #1f1f1f;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

.dropdown-item {
  padding: 10px;
  cursor: pointer;
  color: white;
}

.dropdown-item:hover {
  background: #333;
}
