/* RESET */

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: 'Outfit', sans-serif;
  height: 100%;
  overflow: hidden;
}

ul,
ol {
  list-style: none;
}

.page {
  display: flex;
  justify-content: center;
}

input {
  font: inherit;
  border: none;
}

button {
  border: none;
  background-color: initial;
  outline: none;
}
